/**
 * RESET
 */
html, body, p, div, h1, h2, h3, h4, h5, h6, img, pre, form, fieldset {
    margin: 0;
    padding: 0;
}
ul, ol, dl {
    margin: 0;
}
img, fieldset { 
	border: 0; 
}

/**
 * TYPOGRAPHY - 14px base font size, agnostic font stack
 */
body {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857142857143; /* 20px equiv line-height */
}

/* Get rid of unwanted parts from the html export */
#breadcrumb-section {
	display: none !important;
}

.page-metadata {
	display: none !important;
}

.footer-body {
	display: none !important;
}
