BODY {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 150%;
	background-color: #ffffff;
}

P  {	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 150%;
}

OL LI {
	list-style-type: decimal;
	font-size: 12px;
	color: #333333;
	line-height: 150%;
	margin: 2px 0px 2px 0px;
}

UL LI {
	list-style-type: disc;
	font-size: 12px;
	color: #333333;
	line-height: 150%;
	margin: 2px 0px 2px 0px;
}

INPUT {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #f2f8f8;
	text-decoration: none;
	border: solid 0px #077179;
	background-color: #077179;
}

H1  {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #077179;
	background-color: #E4F1F1;
	margin: 5px 0px 5px 0px;
	padding: 3px 3px 3px 3px;	
	border: solid 1px #CAE4E4;	
	line-height: 150%;
}

H2  {
	color: #077179;
	font-size: 17px;
}

H3, H3 LI  {
	color: #077179;
	font-size: 15px;
	font-weight: bold;
}

H4  {
	color: #077179;
	font-size: 13px;
	font-weight: bold;
}

H5 {
	color: #077179;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}

A LI  {
	border-bottom: solid 1px #6b6f40;
	color: #6b6f40;	
	text-decoration: none;
	padding: 0px 0px 1px 0px;	
}

A:Link {
	border-bottom: solid 1px #6b6f40;
	color: #6b6f40;	
	text-decoration: none;
	padding: 0px 0px 1px 0px;
}

A:Visited  {
	border-bottom: solid 1px #6b6f40;
	color: #6b6f40;	
	text-decoration: none;
	padding: 0px 0px 1px 0px;
}

A:Active  {
	border-bottom: solid 1px #6b6f40;
	color: #6b6f40;	
	text-decoration: none;
	padding: 0px 0px 1px 0px;
}

A:Hover  {}

EM {
    font-style: italic;
}

SMALL {
	font-size: smaller;
	font-family: sans-serif;
}

address {
    font-family: sans-serif;
    font-size: smaller;
    font-style: normal;
}
SUB {
    font-size: 75%;
}
SUP {
    font-size: 75%;
}

TABLE {
	font-size: 12px;
}

TABLE#grid {
	font-size: 12px;
	border-width: 1px 1px 0px 0px;
	border-style: solid;
	border-color: #077179;
}

TABLE#grid TD, TABLE#grid TH {
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	border-color: #077179;
}

TABLE#grid TH {
	font-weight: bold;
}

TABLE#colored-grid TABLE#no-grid, TABLE#colored-grid TABLE#no-grid TD, TABLE#colored-grid TABLE#no-grid TH {
	border-width: 0px 0px 0px 0px;
}

TABLE#colored {
	font-size: 12px;
	border: 1px solid #077179;
	background-color: #e4f1f1;
}

TABLE#colored-grid {
	font-size: 12px;
	border-width: 1px 1px 0px 0px;
	border-style: solid;
	border-color: #077179;
	background-color: #e4f1f1;
}

TABLE#colored-grid TD, TABLE#colored-grid TH {
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	border-color: #077179;
}

TABLE#colored-grid TH {
	font-weight: bold;
}

DIV.lenia {
	width: 80%;
	background-position:center;
	height: 1px;
	background-color: #077179;
	margin: 10px 0px 5px 0px;
	line-height: 1px;
}
